/* Add letter-case styles */
.envelope-case {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8B0000;
    overflow: hidden;
    position: relative;
}

.letter-case {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    transition: transform 0.5s ease;
    transform: translateY(100%); /* Start with the letter-case moved down */
}

.letter-case.open {
    transform: translateY(0); /* Move the letter-case up when open */
}


/* Add envelope-case styles */
.envelope-case {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8B0000;
}

.envelope {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1200px;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform-style: preserve-3d; /* Add preserve-3d for better 3D effect */
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transform: rotateY(0deg);
    transition: transform 0.5s ease;
    font-size: 20px;
}

.back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    overflow: auto;
    font-size: 12px;
    display: none;
}

.envelope.open .front {
    transform: rotateY(-180deg);
}

.envelope.open .back {
    display: block;
    transform: rotateY(0deg);
}
